.toggle-accessibility-result {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  z-index: 2147483637;
  transition: 200ms all linear;
}

.toggle-accessibility-result:focus,
.toggle-accessibility-result:active {
  outline: none;
  transform: scale(1.2);
}

.accessibility-result-popover {
  visibility: hidden;
  position: absolute;
  max-width: 500px;
  padding: 10px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  z-index: 2147483638;
}

.accessibility-result-popover.show {
  visibility: visible;
}

.accessibility-result-popover .arrow,
.accessibility-result-popover > .arrow:after  {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
}

.accessibility-result-popover > .arrow:after {
  content: "";
  border-width: 10px;
}

.accessibility-result-popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}

.accessibility-result-popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}

.accessibility-result-popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}

.accessibility-result-popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}

.accessibility-result-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}

.accessibility-result-popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

.accessibility-result-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}

.accessibility-result-popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.accessibility-toggle-results {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 2147483636;
}

.accessibility-toggle-results > .accessibility-violations-badge {
  position: absolute;
  top: -17%;
  right: -10%;
  border-radius: 50%;
  background: #dc3545;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 2;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.accessibility-toggle-results button {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background-color: white;
  border: 5px solid #0945ea;
  text-align: center;
  outline: none;
  transition: 200ms linear all;
}

.accessibility-toggle-results svg {
  cursor: pointer;
  vertical-align: middle;
  stroke: blue;
}

.accessibility-toggle-results svg g {
  fill: #0945ea
}

.accessibility-toggle-results button.active {
  background-color: #0945ea;
}

.accessibility-toggle-results .active svg {
  background-color: #0945ea;
  border-radius: 50%;
  stroke: white
}

.accessibility-toggle-results .active svg g{
  fill: white
}

.accessibility-result {
  font-family: sans-serif;
  padding: 25px 5px;
}

.accessibility-pulse {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.accessibility-result-content,
.accessibility-result-impact {
  padding: 0 30px;
}

.accessibility-result-description > a,
.accessibility-result-description > a:link,
.accessibility-result-description > a:visited,
.accessibility-result-description > a:hover,
.accessibility-result-description > a:active {
  border-bottom: 2px solid #3369ff;
  color: black;
  text-decoration: none;
}

.accessibility-result-component {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  padding: 5px;
}

.accessibility-result-summary {
  margin-top: 30px;
}

.accessibility-result-summary > ul {
  list-style-position: inside;
  padding: 0;
}

.accessibility-result-summary > ul > li {
  padding: 10px;
}
