<div style="text-align: center">
  <h1 style="color:cyan">Accessibility Tester</h1>
  <h1>Identifies accessibility issues in your Ember applications.</h1>

  {{!-- <img src="https://picsum.photos/500/500"> --}}

  <br>

  <button class="empty-btn"></button>

  <ClickToDisplay/>
</div>

<AccessibilityTester />

{{outlet}}
