<div style="background: black">
  <h1 style="color:#fff">A11y Checker</h1>
  <h1>Identifies accessibility issues in HTML markup.</h1>

  <img src="https://picsum.photos/200/300" style="width: 210px;height: 125px; position: relative;left: 140px;">

  <button class="empty-btn" style="position: relative;top: 727px;"></button>

  <button class="empty-btn">abcd</button>

  {{#link-to "hello-world"}}
    Hello world
  {{/link-to}}

</div>

<ToggleResult />

{{#if canShowaccessibilityTest}}
  <AccessibilityResults />
{{/if}}

{{outlet}}
