<div style="text-align: center">
  <h1 style="color:cyan">ember-accessibility</h1>
  <h1>Identify accessibility issues during development!</h1>

  <BannerImg />

  <button class="empty-btn" type="button"></button>

  <button type="button" {{action "toggle"}} data-toggle="display-text">Click to display some form elements</button>
  {{#if this.canShowComponent}}
    <ElementsWithoutLabel />
  {{/if}}
</div>

<AccessibilityTester />

{{outlet}}
